#social-button{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.google-btn{
    display: inline-block !important;
    border-radius: 70px !important;
    border: #31b342 5px;
    padding: .5rem !important;
    width: 25%;
}
.google-btn span {
    padding: 0px !important;
    border-radius: 60px !important;

}
.google-btn span img {
    width: 32px;
}
.facebook-btn{
    float: right;
    color: white !important;
    border-radius: 70px !important;
    padding: .6em !important;
    width: 25%;
}
.fa-facebook-f{
    font-size: 28px;
}
