*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.section{
    width: 100%;
    background-image: url(https://res.cloudinary.com/soultech/image/upload/v1550683268/authors%20haven%20pics/books-knowledge.jpg);
    background-repeat: no-repeat;
    height: 550px;
    background-size: cover;
}

