*{
  margin: 0;
  padding: 0;
}

html, body{
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}
.section{
  width: 100%;
  background-image: url(https://res.cloudinary.com/soultech/image/upload/v1550683268/authors%20haven%20pics/books-knowledge.jpg);
  background-repeat: no-repeat;
  height: 550px;
  background-size: cover;
}
.sections{
  width: 100%;
  background-image: url(https://res.cloudinary.com/soultech/image/upload/v1550683268/authors%20haven%20pics/books-knowledge.jpg);
  background-repeat: no-repeat;
  height: 270px;
  background-size: cover;
}
.wrapper {
  width: 65% !important;
  margin: 50px auto !important;

}
.profile-text {
  height: 300px;
  width: 50%;
  float: left;
  text-align: justify;
}
textarea {
  resize: none !important;
}
.dp{
  width: 320px;
  float: right;
}
.profile-text h1 {
  font-size: 37px;
  color: #6457dd;
  font-family: 'Patua One', cursive !important;
  font-weight: bold;
}
.profile-text h3 {
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #1d1d1d;
}
#report{
  color: red;
}
#report:hover, #bookmark:hover, #nd-click, #dd-click{ 
  cursor: pointer;
}
/* .tabs{
  margin-top: 900px;
} */

@media (min-width: 768px) and (max-width: 1030px){
  .wrapper {
    width: 70%;
    margin: 0 auto;
  }
  .profile-info{
    width:100%;
    float: center;
    margin: 0;
  }

  .profile-text {
    width: 70%;
    margin: 0 auto;
    float: center;
    text-align: center;
  }
  .dp{
    float: none;
    margin: 0 50px;
  }

}

 @media (min-width: 481px) and (max-width: 767px) {

  .dp{
    width: 250px;
    float: none;
  }

}

@media (min-width: 320px) and (max-width: 480px) {

  .dp{
    float: none;
    width: 200px;
    margin: 0 50px;
  }

}

.quill.ql-editor {
    transition: box-shadow .15s ease;
    border: 0;
    box-shadow: 0 1px 3px rgba(50, 50, 93, .15), 0 1px 0 rgba(0, 0, 0, .02);
}

.quill.ql-editor:focus-within {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

.ql-editor{
    min-height: 300px !important;
  }

.ql-container.ql-snow {
    border: none !important;
}

.ql-toolbar.ql-snow {
    border: none !important;
}

.ql-editor.ql-blank::before {
    color: rgb(153, 158, 165) !important;
    font-style: normal !important;
    font-size: 14px !important;
    font-family: sans-serif !important;
    font-weight: 400 !important;
}

.fa-pen{
  font-size: 17px;
  color: #6457dd;
}

.fa-trash-alt{
  font-size: 20px;
}

.fa-pen, .fa-trash-alt{
  cursor: pointer;
  transition: .3s;
}

.fa-pen:hover{
  color: #6457dd;
  transition: .5s;

}

.fa-trash-alt:hover{
  color: #f5365c;
  transition: .3s;
}

.fa-pen:focus, .fa-trash-alt:focus {
  outline: none;
}

.article-items{
  display: inline;
}
.tabs{
  width: 70%;
    margin: 0 auto;
    float: left;
    text-align: center;
}

/* the dropdown css */

.dropdown {
  width: 100%; 
  background: #ffffff;
  text-align: center;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.dropdown li {
  display: block;
  width: 100%;
}

.dropdown button {
  display: block;
  width: 100%;
}

.dropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}

.dropdown li a:hover { 
    background-color: #6457dd;
    color: white !important;
}

.dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
  
}

/* notification dropdown */

.list-group-item{
  z-index: -1 !important ;
}

.note-dropdown {
  /* width: 100%;  */
  z-index: 1000 !important;
  background: #ffffff;
  text-align: center;
  transition: all 0.25s ease-out;
  transform: scale(0);
  transform-origin: 100% 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 8px 0 rgba(0, 0, 0, 0.12);
}

.note-dropdown li {
  display: block;
  width: 100%;
}

.note-dropdown button {
  display: block;
  width: 100%;
}

.note-dropdown li a {
  width: 100%;
  padding: 1em 18px;
  display: inline-block;
  white-space: pre;
  box-sizing: border-box;
}

.note-dropdown li a:hover { 
    background-color: #6457dd;
    color: white !important;
}

.note-dropdown.active {
  transform: scale(1);
  transition: all 0.25s cubic-bezier(0.5, 1.8, 0.9, 0.8);
  
}




.material-dropdown{
    height: 0px;
    float: left;
    margin-top: -17px;
}

.dd-click:focus{
  outline: none;
}

.article-tags{
  margin: 0 auto;
}

.badge{
  border-radius: 7 !important;
  background-color: #e3e3e3;
  font-size: 13px !important;
  padding: 7px 15px !important;
  cursor: pointer;
}

.badge:hover{
  background-color: #6457dd !important;
  color: #ffffff !important;
}

.fa-caret-left, .fa-caret-right{
  outline: none;
  cursor: pointer;
}

.fa-caret-left:hover, .fa-caret-right:hover{
  color: #afbde7;
}

.section-lg
{
    padding-top: 50px !important;
}
.notification-item{
  text-align: justify;
  /* align-content: flexx-start; */
  font-size: 0.8em;
  word-wrap: break-word;
}

.notification-unread{
  background-color:#f2f2f2;
}

.bell{
  font-family: sans-serif  'FontAwesome'!important;;
}

.fa-bell{
  margin-left: -37px;
  margin-top: 13px;
  position: absolute;

}

