@import 'variables.scss';

html, body{
    margin: 0;
    padding: 0;
    min-height: 100%;
    
}

a{
    text-decoration: none;
    color: $primary-color;
    transition-duration: 0.5s;
}

a:hover{
    color: $primary-color !important;
}

.container{
    padding: 0;
}
.login-nav{
    float: right;
    background-color: $white !important;
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
 }

h4{
    color: #1d1d1d !important;
    font-family: 'Patua One', cursive !important;
    font-weight: bold;
}

.hr
{
    margin: 0;
}

#top-line{
    margin-bottom: 10px;
}

.title{
    text-align: left;
    float: left;
}

.introduction h1{
    color: $white;
    font-size: 40px;
}

.h3{
    font-weight: bolder;
}

.introduction p{
    margin: 20px 0;
    color: $white;
    font-size: 20px;
}

.navbar{
    height: 77px;
}

.navbar-name{
    color: $primary-color;
    margin: 20px 0;
    font-weight: 500px;
}

.card-board
{
    padding: 0;
    text-align: left;
    flex: 1 1 auto;
}

.img-profile{
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.bottom-bar{
    padding: 10px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.description{
    text-align: left;
    font-size: 16px !important;
    color: #7e7e7e;
    font-weight: 400 !important;
}

/* --- all buttons css --- */

.rounded-circle
{
    border-radius: 25px !important;
}

.login-nav{
    float: right;
    background-color: $white !important;
    color: $primary-color !important;
    border: 1px solid $primary-color !important;
}

.login-banner{
    color: $primary-color !important;
}

.button-primary{
    color: $white;
    background: $primary-color;
}

/* --- searchbox --- */

.search{
    width: 300px !important;
    border: 1px solid $primary-color !important;
    background-color: transparent !important;
}

/* homepage */


.welcome{
    width: 60%;
    margin: 0 auto;
}

.about{
    font-size: 13px !important;
}

.text-left{
    text-align: left;
}

.bar{
    width: 100%;
}

.introduction{
    width: 50%;
    margin-top: 30px;
    margin: 0 auto;
    float: left;
    text-align: left;
}

.article-header{
    float: left;
}

.footer{
    clear: both;
    text-align: center;
}

/* Pagination css */

.pagination {
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
  }
  .pagination li {
    display: inline;
    text-align: center;
  }
  .pagination a {
    float: left;
    display: block;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 12px;
    color: #fff;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;
  }
  .pagination a.active {
    cursor: default;
  }
  .pagination a:hover {
    cursor: pointer;
  }
  .pagination a:active {
    outline: none;
  }
  .modal-3 a {
    margin-left: 3px;
    padding: 0;
    width: 30px;
    color: black;
    height: 30px;
    line-height: 30px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
  }
  .modal-3 a:hover {
    background-color: $primary-color !important;
    color: $white !important;
  }
  .modal-3 a.active, .modal-3 a:active {
    background-color: $primary-color !important;
    color: $white !important;
    outline: none;
  }

/* responsiveness */
@media (min-width: 320px) and (max-width: 480px)
{
    .introduction
    {
        width: 100%;
    }
    h4{
        float: none;
        width: 100%;
    }
    .article-header{
        float: none;
        width: 100%;
    }
    .search{
        width: 100%;
        float: none;
    }
.profile-img {
    height :$imgHeight;
    width : $imgWidth;
}
.message-box {
    margin-bottom: 350px !important;
}
}
